<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category_id %>
</p>

<p>
  <b>Made to order:</b>
  <%= @item.made_to_order %>
</p>
	<% for listing_image in @item.item_images %><br />
		<%= link_to(image_tag(listing_image.image.url(:small)), listing_image.image.url(:large)) %>
	<%end %>

  <% if @item.user.latitude.present? %>
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@item.user.latitude},#{@item.user.longitude}&zoom=15&size=300x300&sensor=false&markers=size:mid%7Ccolor:0xFFFF00%7Clabel:Seller%7C#{@item.user.latitude},#{@item.user.longitude}" %>
  <% end %>                                                 

	<%= button_to "Add to Favorites", favorites_url(:id => @item.id)%>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
